.header{
   
    height: 250px;
    background-image: url("../public/images/backgroung.webp");
   background-position:52% 52%;
    background-repeat: no-repeat;
}

.header h1{
   
    color: black;
    text-align: center;
    margin-top: 0px ;
}
