@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');




body{
    background-color: #f2f2f2;
  
    font-family: 'PT Serif', serif !important;
 font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p {
   
  
    font-family: 'PT Serif', serif !important;
 font-weight: 400;
}

/* index page */




/* post page css */

.postH1{
    margin-top: 58px;
    text-align: center;
    font-size: 1.25rem;
}

.postContent{
    overflow-wrap: break-word;
    text-align: justify;
}
.postContent img{
    width: 250px;
    height: 250px;
  max-width: 100%;
  height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}


@media only screen and (max-width: 600px){
   body{
    background-color: white;
   }
   .postContainer{
    min-height:3013px;
    }
}



@media only screen and (max-width: 900px){
    .postContainer{
        min-height:3850px;
        }
 }
@media only screen and (min-width: 900px){

        .postContainer{
            min-height:1100px;
            }
 }